html,
body {
  height: 100%;
  box-sizing: border-box;
}

.header {
  background: #dddddd;
}

.main {
  background: #efeeee;
}

.footer {
  background: #dddddd;
}

.header,
.main,
.footer {
  width: 100%;
}